[submodule "pack/cemerick/start/vim-sensible"]
	path = pack/cemerick/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "pack/cemerick/start/vim-css-color"]
	path = pack/cemerick/start/vim-css-color
	url = https://github.com/SorrowFurnance/vim-css-color.git
[submodule "pack/cemerick/start/vim-bufkill"]
	path = pack/cemerick/start/vim-bufkill
	url = https://github.com/qpkorr/vim-bufkill.git
[submodule "pack/cemerick/start/vim-obsession"]
	path = pack/cemerick/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "pack/cemerick/start/ctrlp"]
	path = pack/cemerick/start/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "pack/cemerick/start/vim-signify"]
	path = pack/cemerick/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "pack/cemerick/start/vim-markdown-folding"]
	path = pack/cemerick/start/vim-markdown-folding
	url = https://github.com/nelstrom/vim-markdown-folding.git
