[submodule "pack/cemerick/start/vim-sensible"]
	path = pack/cemerick/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "pack/cemerick/start/vim-css-color"]
	path = pack/cemerick/start/vim-css-color
	url = https://github.com/SorrowFurnance/vim-css-color.git
[submodule "pack/cemerick/start/vim-bufkill"]
	path = pack/cemerick/start/vim-bufkill
	url = https://github.com/qpkorr/vim-bufkill.git
[submodule "pack/cemerick/start/vim-obsession"]
	path = pack/cemerick/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
